*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: url(./img/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #f9fadc;
  text-transform: uppercase;
  margin: 25px;
}

.form {
  width: 100%;
  background: #301e1ac4;
  margin: 10px auto;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.labelFormulario {
  margin-top: 5px;
  font-size: 20px;
  font-family: cursive;
  font-style: inherit;
}

.inputFormulario {
  border: 0;
  background: none;
  border-bottom: 1px solid #e3dfba;
  margin: 5px 25px auto;
  padding: 5px 10px;
  text-align: center;
  color: #f7f7f7;
  font-size: 15px;
}

.inputFormulario::placeholder {
  color: #e4cab296;
}
.inputFormulario:hover {
  border-radius: 20px;
  box-shadow: 0 0 10px #b7833adc;
}

.inputFormulario:focus {
  outline: none;
}

.btnAgregar {
  font-size: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  font-family: cursive;
}

.btnAgregar:hover {
  box-shadow: 0 0 10px #665e52;
}

.table thead {
  font-size: 15px;
  text-align: center;
  background-color: #a04a269a;
  color: #e3dfba;
  font-family: cursive;
  border-bottom: 2px solid #c2b79b;
}

thead .thCantidad {
  background-color: #b7833ab4;
}

tbody {
  margin: 0 auto;
  width: 60%;
  background-color: #d5a67fe0;
  font-size: 15px;
  font-family: cursive;
}
.tdCodigo {
  width: 20px;
}

.inputEdit {
  border: 0;
  border-radius: 2px;
  padding: 1px;
  width: 100px;
  text-align: center;
}

.inputEdit:hover {
  box-shadow: 0 0 10px #301e1a;
}

.inputEdit:focus {
  outline: none;
}
.btn {
  margin-bottom: 5px;
}
.bi {
  font-size: 15px;
}

@media (max-width: 400px) {
  .table {
    margin: 0 auto;
    width: 50%;
  }

  .inputEdit {
    border: 0;
    padding: 1px;
    width: 50px;
    text-align: center;
  }

  .table thead {
    font-size: 13px;
  }

  tbody {
    font-size: 12px;
  }


  .bi {
    font-size: 10px;
  }
}
