*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  background: url(./img/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
  text-align: center;
  height: 100%;
  margin: 0;
  padding: 2rem;
}

h1 {
  color: #f9fadc;
}

.form {
  background: #301e1ac4;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  text-align: center;
  color: aliceblue;
  border-radius: 10px;
}

.labelProducto {
  font-size: 20px;
  margin: 10px;
  font-family: cursive;
  font-style: inherit;
}

.inputProducto {
  border: 0;
  border-radius: 20px;
  background: #f9fadc;
  margin: 25px auto;
  padding: 5px 10px;
  text-align: center;
  color: #301e1a;
  font-size: 15px;
}

.inputProducto:hover {
  box-shadow: 0 0 10px #ff9c5b;
}

.inputProducto:focus {
  outline: none;
}

.labelCantidad {
  font-size: 20px;
  margin: 10px;
  font-family: cursive;
  font-style: inherit;
}

.inputCantidad {
  border: 0;
  border-radius: 20px;
  color: #301e1a;
  background: #f9fadc;
  margin: 25px auto;
  padding: 5px 10px;
  text-align: center;
  font-size: 15px;
}

.inputCantidad:hover {
  box-shadow: 0 0 10px #ff9c5b;
}

.inputCantidad:focus {
  outline: none;
}

.btnAgregar {
  font-size: medium;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 20px;
  font-family: cursive;
}

.btnAgregar:hover {
  box-shadow: 0 0 10px #665e52;
}

.table thead {
  background-color: #a04a269a;
  font-size: 13px;
  color: #e3dfba;
  font-family: cursive;
  border-bottom: 2px solid #c2b79b;
}

thead .thCantidad {
  background-color: #b7833ab4;
}

tbody {
  background-color: #d5a67fe0;
  font-size: 15px;
  font-family: cursive;
}

.inputEdit {
  border: 0;
  border-radius: 10px;
  padding: 1px;
  width: 100px;
  text-align: center;
}

.inputEdit:hover {
  box-shadow: 0 0 10px #301e1a;
}

.inputEdit:focus {
  outline: none;
}
